body {
  background-color: #555;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.code {
  font-family: monospace;
  font-size: 16px;
}

.codebox {
  width: 80%;
  background-color: #333;
  color: #dcdccc;
  border: 0;
}
